
.header {
  @include flex-column-start;
  gap: 8rem;
  position: relative;
  z-index: 3;
  width: 100%;
  min-height: calc(env(safe-area-inset-top) * 0.8 + 210rem);
  padding: calc(env(safe-area-inset-top) * 0.8 + 107rem) 25rem 30rem;
  overflow: hidden;
  border-radius: 0 0 45rem 45rem;
  color: var(--color-white-snow);

  &__navigation {
    position: fixed;
    inset: 0 0 auto;
    z-index: 2;
    padding-top: calc(env(safe-area-inset-top) * 0.8);
  }

  &__links {
    @include flex-row;
    margin-left: auto;
    width: 50%;
    height: 66rem;
  }

  &__link {
    flex: 0 0 calc(100% / 3);
    @include flex-column;
    gap: 6rem;
    position: relative;
    z-index: 1;
    width: calc(100% / 3);
    height: 100%;
    padding: 12rem 0 ;
    color: var(--color-white-snow);
    font-size: 9rem;
    font-weight: 700;
    line-height: 11rem;

    svg {
      width: 24rem;
      height: 24rem;

      &:first-of-type {
        circle,
        path {
          stroke: var(--color-white-snow);
        }
      }

      &:last-of-type {
        display: none;
      }
    }
  }

  &__headline {
    position: relative;
    z-index: 3;
  }

  &__text {
    position: relative;
    z-index: 3;
    font-size: 15rem;
    font-weight: 600;

    em {
      position: relative;
      z-index: 1;
      margin: 0 7rem;
      font-style: normal;

      &::before {
        content: '';
        position: absolute;
        inset: 50% auto auto 50%;
        z-index: -1;
        transform: translate(-50%, -50%);
        width: 20rem;
        height: 20rem;
        background: var(--color-white-snow);
        border-radius: 50%;
      }
    }
  }

  &__search {
    display: none;
  }

  &__unicorn {
    position: absolute;
    z-index: 3;
    pointer-events: none;
  }
}

[data-page='home'] .header {
  &__unicorn {
    inset: calc(env(safe-area-inset-top) * 0.8 + 2rem) auto auto -115rem;
    transform: rotate(12deg) scaleX(-1);
    width: 210rem;
  }
}

[data-page='search'] .header {
  &__unicorn {
    inset: auto 87rem -139rem auto;
    transform: rotate(-3deg) scaleX(-1);
    width: 270rem;
  }
}

[data-page='cart'] .header {
  &__unicorn {
    inset: calc(env(safe-area-inset-top) * 0.8 + 75rem) -112rem auto auto;
    transform: rotate(-7deg);
    width: 230rem;
  }

  &__link[href*='cart'] {
    svg {
      &:first-of-type {
        display: none;
      }

      &:last-of-type {
        display: block;

        path {
          &:nth-child(1) {
            fill: var(--color-white-snow);
          }

          &:nth-child(2) {
            stroke: var(--color-white-snow);
          }

          &:nth-child(3),
          &:nth-child(4) {
            stroke: var(--color-orange-sun);
          }
        }
      }
    }
  }
}

[data-page='favorites'] .header {
  &__unicorn {
    inset: calc(env(safe-area-inset-top) * 0.8 + 65rem) -112rem auto auto;
    transform: rotate(-14deg);
    width: 230rem;
  }
}

[data-page='messages'] .header {
  &__unicorn {
    inset: calc(env(safe-area-inset-top) * 0.8 - 12rem) -192rem auto auto;
    transform: scaleX(-1) rotate(11deg);
    width: 310rem;
  }

  &__text em {
    color: var(--color-blue-sky);
  }

  &__link[href*='messages'] {
    svg {
      &:first-of-type {
        display: none;
      }

      &:last-of-type {
        display: block;

        path {
          fill: var(--color-white-snow);
          stroke: var(--color-white-snow);
        }
      }
    }
  }
}

[data-page='profile'] .header {
  &__link[href*='profile'] {
    svg {
      &:first-of-type {
        display: none;
      }

      &:last-of-type {
        display: block;

        rect {
          fill: var(--color-white-snow);
        }

        path {
          stroke: var(--color-green-meadow);
        }
      }
    }
  }
}

@each $page, $color in (
  'home' 'purple-grape',
  'search' 'yellow-lemon',
  'cart' 'orange-sun',
  'favorites' 'pink-bubble',
  'messages' 'blue-sky',
  'profile' 'green-meadow'
) {
  [data-page='#{$page}'] .header {
    background: var(--color-#{$color});

    &__navigation {
      background: var(--color-#{$color});
    }
  }
}
