
.header {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8rem;
  position: relative;
  z-index: 2;
  width: 100%;
  min-height: 170rem;
  padding: 77rem 30rem 30rem;
  overflow: hidden;
  border-radius: 0 0 45rem 45rem;
  color: var(--color-white-snow);

  &__text {
    font-size: 15rem;
    font-weight: 600;

    em {
      position: relative;
      z-index: 1;
      margin: 0 7rem;
      font-style: normal;

      &::before {
        content: '';
        position: absolute;
        inset: 50% auto auto 50%;
        z-index: -1;
        transform: translate(-50%, -50%);
        width: 20rem;
        height: 20rem;
        background: var(--color-white-snow);
        border-radius: 50%;
      }
    }
  }

  &__search {
    display: none;
  }

  &__unicorn {
    position: absolute;
    z-index: 1;
    pointer-events: none;
  }
}

[data-page='home'] .header {
  &__unicorn {
    inset: -2rem -97rem auto auto;
    transform: rotate(-12deg);
    width: 180rem;
  }
}

[data-page='search'] .header {
  &__unicorn {
    inset: -100rem 37rem auto auto;
    transform: rotate(183deg);
    width: 230rem;
  }
}

[data-page='cart'] .header {
  &__unicorn {
    inset: 5rem -132rem auto auto;
    transform: rotate(-7deg);
    width: 230rem;
  }
}

[data-page='favorites'] .header {
  &__unicorn {
    inset: 5rem -122rem auto auto;
    transform: rotate(-14deg);
    width: 230rem;
  }
}

[data-page='messages'] .header {
  &__unicorn {
    inset: -72rem -202rem auto auto;
    transform: scaleX(-1) rotate(11deg);
    width: 310rem;
  }

  &__text em {
    color: var(--color-blue-sky);
  }
}

@each $page, $color in (
  'home' 'purple-grape',
  'search' 'yellow-lemon',
  'cart' 'orange-sun',
  'favorites' 'pink-bubble',
  'messages' 'blue-sky',
  'profile' 'green-meadow'
) {
  [data-page='#{$page}'] .header {
    background: var(--color-#{$color});
  }
}
