
.title {
  @include flex-row;
  gap: 40rem;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 56rem;
  padding: 0 20rem;

  &__headline {
    flex: 0 0 auto;

    span {
      // clip-path: inset(37% 0 0 0);
      font-family: var(--font-alternate);
    }
  }

  &__link {
    margin-left: auto;
    overflow: hidden;
    font-size: 10rem;
    font-weight: 700;
    text-overflow: ellipsis;
    text-transform: uppercase;
    text-wrap: nowrap;
  }
}

.title--border {
  height: 57rem;
  border-bottom: 1rem solid var(--color-black-charcoal--21);
}

@each $page, $color in (
  'home' 'purple-grape',
  'search' 'yellow-lemon',
  'cart' 'orange-sun',
  'favorites' 'pink-bubble',
  'messages' 'blue-sky',
  'profile' 'green-meadow'
) {
  [data-page='#{$page}'] .title__link {
    color: var(--color-#{$color});
  }
}
