
html {
  min-height: 100%;
  background: var(--color-black-onyx);
  font-size: calc((100 / var(--design-width)) * 1vw);
  -webkit-tap-highlight-color: var(--color-black-charcoal--7);

  @media (min-width: 1024px) {
    font-size: calc(((100 / var(--design-width)) * var(--design-max-width) / 16) * 0.01rem);
  }
}

body {
  // max-width: var(--container-max-width);
  overflow: hidden auto;
  scroll-behavior: smooth;
  background: var(--color-black-onyx);
  color: var(--color-black-charcoal);
  font-family: var(--font-default);
  font-size: 11rem;
  font-weight: 500;
  line-height: 1;
  text-align: left;
  text-size-adjust: none;

  ::selection {
    background: var(--color-black-charcoal);
    color: var(--color-white-snow);
  }
}

// @mixin tapHighlight($page, $color) {
//   [data-page='#{$page}'] .footer {
//     -webkit-tap-highlight-color: var(--color-#{$color}--21);
//   }
// }

// @include tapHighlight('home', 'purple-grape');
// @include tapHighlight('search', 'yellow-lemon');
// @include tapHighlight('cart', 'orange-sun');
// @include tapHighlight('favorites', 'pink-bubble');
// @include tapHighlight('messages', 'blue-sky');
// @include tapHighlight('profile', 'green-meadow');
