
.h1 {
  font-size: 36rem;
  font-weight: 700;
  line-height: 40rem;
}

.h2 {
  font-size: 24rem;
  font-weight: 700;
  line-height: 32rem;
}

.h3 {
  font-size: 20rem;
  font-weight: 700;
  line-height: 28rem;
}

.h4 {
  font-size: 16rem;
  font-weight: 700;
  line-height: 24rem;
}
