
:root {
  --color-blue-ocean: #33beb8;
  --color-blue-ocean--21: rgba(51, 190, 184, 0.21);
  --color-blue-sky: #40a4d8;
  --color-blue-sky--21: rgba(64, 164, 216, 0.21);
  --color-green-meadow: #b2c225;
  --color-green-meadow--21: rgba(178, 194, 37, 0.21);
  --color-orange-fruit: #f6621f;
  --color-orange-fruit--21: rgba(246, 98, 31, 0.21);
  --color-orange-sun: #f9a228;
  --color-orange-sun--21: rgba(249, 162, 40, 0.21);
  --color-pink-bubble: #ee657a;
  --color-pink-bubble--21: rgba(238, 101, 122, 0.21);
  --color-purple-grape: #a363d9;
  --color-purple-grape--21: rgba(163, 99, 217, 0.21);
  --color-red-cherry: #db3838;
  --color-red-cherry--21: rgba(219, 56, 56, 0.21);
  --color-yellow-lemon: #fecc2f;
  --color-yellow-lemon--21: rgba(254, 204, 47, 0.21);

  --color-black-charcoal: #333;
  --color-black-charcoal--30: rgba(102, 102, 102, 0.3);
  --color-black-charcoal--21: rgba(102, 102, 102, 0.21);
  --color-black-charcoal--7: rgba(102, 102, 102, 0.07);
  --color-black-night: #000;
  --color-black-onyx: #111;
  --color-gray-cloud: #f5f5f5;
  --color-gray-smoke: #666;
  --color-white-snow: #fff;

  --container-max-width: 1024px;

  --design-width: 390;
  --design-max-width: 1024;

  --font-default: 'Montserrat', sans-serif;
  --font-alternate: 'Montserrat Alternates', sans-serif;
}

@function color($key, $alpha: 1) {
  $color: map-get($colors, $key);

  @return rgba($color, $alpha);
}
