
{% macro Subnavigation(props) %}

  <section class="subnavigation">
    <nav class="subnavigation__links">
      {% if props.pageId == 'home' %}
        <a class="subnavigation__link" href="../home--hi">Hi!</a>
        <a class="subnavigation__link" href="../home--buy">Buy</a>
        <a class="subnavigation__link" href="../home--sell">Sell</a>
        <a class="subnavigation__link" href="../home--faq">FAQ</a>
        <a class="subnavigation__link" href="../home--about-us">About us</a>
      {% endif %}
      {% if props.pageId == 'search' %}
        <a class="subnavigation__link" href="../search--all">All categories</a>
        <a class="subnavigation__link" href="../search--featured">Featured</a>
        <a class="subnavigation__link" href="../search--popular">Popular</a>
      {% endif %}
      {% if props.pageId == 'cart' %}
        <a class="subnavigation__link" href="../cart--order">Your order</a>
        <a class="subnavigation__link" href="../cart--review">Review items</a>
        <a class="subnavigation__link" href="../cart--shipping">Shipping</a>
        <a class="subnavigation__link" href="../cart--payment">Payment</a>
      {% endif %}
      {% if props.pageId == 'favorites' %}
        <a class="subnavigation__link" href="../favorites--items">Items</a>
        <a class="subnavigation__link" href="../favorites--users">Users</a>
        <a class="subnavigation__link" href="../favorites--charities">Charities</a>
        <a class="subnavigation__link" href="../favorites--categories">Categories</a>
      {% endif %}
      {% if props.pageId == 'messages' %}
        <a class="subnavigation__link" href="../messages--all">All messages</a>
        <a class="subnavigation__link" href="../messages--notifications">Notifications</a>
        <a class="subnavigation__link" href="../messages--archive">Archive</a>
      {% endif %}
      {% if props.pageId == 'profile' %}
        <a class="subnavigation__link" href="../profile--dashboard">Dashboard</a>
        <a class="subnavigation__link" href="../profile--sales">Your sales</a>
        <a class="subnavigation__link" href="../profile--purchases">Your purchases</a>
        <a class="subnavigation__link" href="../profile--details">Your details</a>
        <a class="subnavigation__link" href="../profile--favorites">Your favorites</a>
        <a class="subnavigation__link" href="../profile--settings">Settings</a>
        <a class="subnavigation__link" href="../profile--feedback">Give feedback</a>
      {% endif %}
    </nav>
  </section>

{% endmacro %}
