
{% set data = {
  pageId: 'cart',
  pageTheme: 'orange-sun',
  pageTitle: 'Your Cart',
} %}

{% extends 'core/template.twig' %}

{% block Content %}

  {{ Header({
    headline: 'Your Cart',
    text: 'You have no items yet',
  }) }}

  {{ Headline({
    headline: 'Your cart',
  }) }}

  <div class="unicorn">
    {{ source('src/assets/images/unicorn.svg')|raw }}
  </div>

{% endblock %}
