
{% set data = {
  pageId: 'favorites',
  pageTheme: 'pink-bubble',
  pageTitle: 'Favorites',
  subpageId: 2,
} %}

{% extends 'core/template.twig' %}

{% block Content %}

  {{ Header({
    headline: 'Favorites',
    text: 'Cool stuff you saved for later',
  }) }}

  {{ Subnavigation({
    pageId: data.pageId,
  }) }}

  {{ Title({
    headline: 'List of your favorite users',
  }) }}

  <div class="unicorn">
    {{ source('src/assets/images/unicorn.svg')|raw }}
  </div>

{% endblock %}
