
{% set data = {
  pageId: 'home',
  pageTheme: 'purple-grape',
  pageTitle: 'Hi!',
} %}

{% extends 'core/template.twig' %}

{% block Content %}

  {{ Header({
    headline: 'Welcome, David!',
    text: 'Want to set your stuff free — for good?',
  }) }}

  {{ Title({
    border: true,
    headline: 'Hi there!',
  }) }}

  {# text: 'Want to give your stuff a happy new home — for good?',
  text: 'Want your stuff to live happily ever after — for good?',
  text: 'Want to find your stuff a new adventure — for good?',
  text: 'Want to let your stuff shine again — for good?', #}

  <div class="unicorn">
    {{ source('src/assets/images/unicorn.svg')|raw }}
  </div>

  {#
    rank - start with score
    swipe left/right to like/dislike - like in tinder but for products
    send feedback
    report abuse
    raffles 
    raffle icon - https://www.google.com/search?q=raffle+icon&sca_esv=20f39db26fe1047c&sxsrf=AE3TifMT7hnucJfcRcWx6gEXURKBUBydkw%3A1749956098030&ei=AjZOaP_NAen97_UPtY-FwAI&ved=0ahUKEwj_1uG8tvKNAxXp_rsIHbVHASgQ4dUDCBA&uact=5&oq=raffle+icon&gs_lp=Egxnd3Mtd2l6LXNlcnAiC3JhZmZsZSBpY29uMgUQABiABDIFEAAYgAQyBhAAGBYYHjIGEAAYFhgeMgYQABgWGB4yBhAAGBYYHjIGEAAYFhgeMgYQABgWGB4yBhAAGBYYHjIGEAAYFhgeSKoWUKwPWLoUcAF4AZABAJgBlgGgAa0EqgEDMi4zuAEDyAEA-AEBmAIGoALMBMICChAAGLADGNYEGEfCAg0QABiABBiwAxhDGIoFwgIPEAAYgAQYsAMYQxiKBRgKwgIOEAAYsAMY5AIY1gTYAQHCAhYQLhiABBiwAxhDGNQCGMgDGIoF2AEBwgITEC4YgAQYsAMYQxjIAxiKBdgBAcICChAAGIAEGEMYigXCAgsQABiABBiRAhiKBcICBxAAGIAEGAqYAwCIBgGQBhG6BgYIARABGAmSBwMyLjSgB64dsgcDMS40uAfEBMIHAzItNsgHGg&sclient=gws-wiz-serp
  #}

{% endblock %}
