
{% set data = {
  pageId: 'index',
  pageTitle: 'Hi!',
} %}

{% extends 'core/template.twig' %}

{% block Content %}

  <a class="app__index" href="home">Home</a>
  {{ source('src/assets/images/unicorn.svg')|raw }}

{% endblock %}
