
{% set data = {
  pageId: 'index',
  pageTheme: 'white-snow',
  pageTitle: 'Hi!',
} %}

{% extends 'core/template.twig' %}

{% block Content %}

  <a class="app__index" href="home">Home</a>
  <div class="unicorn">
    {{ source('src/assets/images/unicorn.svg')|raw }}
  </div>

{% endblock %}
