
{% set data = {
  pageId: 'messages',
  pageTheme: 'blue-sky',
  pageTitle: 'Messages',
  subpageId: 3,
} %}

{% extends 'core/template.twig' %}

{% block Content %}

  {{ Header({
    headline: 'Messages',
    text: 'You\'ve got <em>3</em> new messages',
  }) }}

  {{ Subnavigation({
    pageId: data.pageId,
  }) }}

  {{ Headline({
    headline: 'Archived messages',
  }) }}

  <div class="unicorn">
    {{ source('src/assets/images/unicorn.svg')|raw }}
  </div>

{% endblock %}
