
{% set data = {
  pageId: 'profile',
  pageTheme: 'green-meadow',
  pageTitle: 'Profile',
  subpageId: 6,
} %}

{% extends 'core/template.twig' %}

{% block Content %}

  {{ Header({
    headline: 'Profile',
    text: 'Settings',
  }) }}

  {{ Subnavigation({
    pageId: data.pageId,
  }) }}

  {{ Headline({
    headline: 'Your profile settings',
  }) }}

  <div class="unicorn">
    {{ source('src/assets/images/unicorn.svg')|raw }}
  </div>

{% endblock %}
